    body {
    background-color: white;
    color: black;
    text-align: center;
}

h1 {
    color: blueviolet;
}

.board-container {
    background-color: white;
    padding: 30px;
    align-content: auto;
    margin-top: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr td {
    width: 37px;
    height: 37px;
    text-align: center;
    transition: .5s;
    border: 1px solid rebeccapurple
}

.hide {
    display: none;
}

.flag {
    display: none;
}
